html
  head
    meta(charset="utf-8")
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="colpick.css")
    link(rel="stylesheet" href="index.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js")
    script(src="http://canvg.googlecode.com/svn/trunk/StackBlur.js")
    script(src="http://canvg.googlecode.com/svn/trunk/canvg.js")
    script(src="./bower_components/tinycolor/tinycolor.js")
    script(src="./jquery.color-2.1.2.min.js")
    script(src="./colpick.js")
    script(src="index.js")
  body
    #header
      #menu
        #shape-select
          img(src="./hexagon.png")
        #cp2.cp
        #cp1.cp
        #image-select
          img(src="./anchor.png")
        #download
          img(src="./download.png")
    svg#canvas(class="poly")
      polygon#p1
      polygon#p2
      image(xlink:href="anchor.png" x=60 y=100 height="400px" width="400px")

  canvas#buffer(width="520px" height="600px")
  input#upload-image(type="file")
