c = rgba(77, 77, 77, 0.8)

#header
  width: 890px
  height: 54px
  margin: 0 auto
  margin-top: 54px
  position: relative

#logo
  position: absolute
  top: -15px
  width: 410px
  height: 110px
  float: left
  border-bottom: 3px solid c
  h1
    color: c
    margin: 0
    line-height: 38pt
    font-size: 32pt
    font-weight: 400

#line1
  position: absolute
  left: 165px
  width: 103px
  height: 10px
  background-color: c

#line2
  position: absolute
  left: 295px
  width: 113px
  height: 3px
  background-color: c

#menu
  border-top: 3px solid c
  width: 455px
  float: right
  .row
    margin-top: 10px
    background-color: c
    .btn
      margin: 13px 10px
      display: inline-block
      text-align: center

#main
  width: 1024px
  margin: 0 auto

#editor
  height: 416px
  width: 900px
  margin: 0 auto
  margin-top: 97px
  padding-bottom: 65px
  border-bottom: 5px solid c
  position: relative
  .clabel
    font-size: 22px
    font-weight: 300
  #canvas
    position: absolute
    top: 0
    left: 271px
  #left-deco
    border-top: 2px solid #a84344
    border-right: 20px solid #a84344
    width: 230px
    height: 135px
    position: absolute
    top: 105px
    left: 11px
  #left-color-label
    position: absolute
    top: 112px
    left: 11px
    color: #a84344
  #left-cp
    position: absolute
    top: 148px
    left: 9px
    height: 169px
    overflow: hidden
  #right-deco
    border-bottom: 2px solid #ce6666
    border-left: 20px solid #ce6666
    width: 230px
    height: 135px
    position: absolute
    top: 175px
    left: 639px
  #right-cp
    position: absolute
    top: 100px
    left: 683px
    height: 169px
    overflow: hidden
  #right-color-label
    position: absolute
    top: 280px
    left: 798px
    color: #ce6666

#footer
  position: relative
  margin-top: 10px
  margin-left: 62px
  width: 900px
  background-color: c
  height: 41px

body
  font-family: 'Raleway', sans-serif
  margin: 0

#img-buffer
  display: none

#upload-image
  display: none
