.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  text-align: center
  margin: 0
  background-color: black

  #header
    height: 150px
    width: 100%

    #menu
      height: 150px
      width: 600px
      background-color: rgba(0,0,0,0.5)
      margin: 0 auto
      border-bottom-right-radius:1em;
      border-bottom-left-radius:1em;

      div
        border: 5px solid white
        display: inline-block
        margin: 10px 5px 10px 5px
        height: 80px
        width: 80px
        font-family: 'Droid Sans Mono'
        cursor: pointer

        img
          display: block
          width: 78px
          height: 78px

  #canvas
    height: 600px
    width: 520px
    margin: 0 auto
    display: block

    #p1
      stroke-width:"0.5"
      stroke-linejoin: round

    #p2
      stroke-width:"0.5"
      stroke-linejoin: round

  #buffer
    visibility: hidden

#upload-image
  opacity: 0
