html
  head
    meta(charset="utf-8")
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="./bower_components/colpick/css/colpick.css")
    link(rel="stylesheet" href="index.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="./bower_components/jquery-color/jquery.color.js")
    script(src="./bower_components/tinycolor/tinycolor.js")
    script(src="./bower_components/colpick/js/colpick.js")
    script(src="index.js")
  body
    #main
      #header
        #logo
          h1 Mooon
          h1 Hexagon Badge
        #line1
        #line2
        #menu
          .row
            .btn#shape-select
              img(src="./images/rotate.png")
            .btn#image-select
              img(src="./images/image.png")
            .btn
              img(src="./images/label.png")
            .btn
              img(src="./images/txt.png")
            .btn
              img(src="./images/save.png")
      #editor
        canvas#canvas(width="358px" height="416px")
        #left-deco
        #left-color-label.clabel #a84344
        #left-cp
        #right-deco
        #right-cp
        #right-color-label.clabel #ce6666
      #footer
    input#upload-image(type="file")
    img#img-buffer
